<div class="card h-100 shadow-sm"
    [ngClass]="{ 'border border-4 border-warning': invencao.destaque }">

    <!-- Imagem da invenção -->
    <img [src]="invencao.imagem" [alt]="invencao.nome" class="card-img-top-2"
        style="height: 200px; object-fit: cover;">

    <div class="card-body">

        <!-- Nome da invenção -->
        <h2 class="card-title">
            {{ invencao.nome | uppercase }}
        </h2>

        <!-- Descrição da invenção -->
        <p class="card-text">
            {{ invencao.descricao }}
        </p>

        <!-- Detalhes -->
        <p class="card-text">
            <strong>Inventor:</strong> {{ invencao.inventor }}
        </p>
        <p class="card-text">
            <strong>Ano:</strong> {{ invencao.ano }}
        </p>
        <p class="card-text">
            <strong>Local:</strong> {{ invencao.local }}
        </p>
        <p class="card-text">
            <strong>Categoria:</strong> {{ invencao.categoria }}
        </p>

        <!-- Botão de detalhes (opcional) -->
        <a [routerLink]="['/invencao', invencao.id]" class="btn btn-success">
            Detalhes
        </a>

    </div>
</div>
