<div class="card h-100" [ngClass]="{
                    'border border-4 border-warning': invencao.destaque
        }">
    <!-- Property bind -->
     <img [src]="invencao.imagem" [alt]="invencao.nome" class="card-img-top-2">

     <div class="card-body">
        <!-- Interploação + Diretiva ngClass (Atributo) -->
         
         <h5 class="card-title">
            {{ invencao.nome | uppercase }}
         </h5>

         <p class="card-text">Ano: {{ invencao.ano }} - {{ invencao.ano}}</p>
         <p class="card-text">Inventor: {{ invencao.inventor}}</p>
         <p class="card-text">Descrição: {{ invencao.descricao}}</p>
         <p class="card-text">Local: {{ invencao.local}}</p>
         <p class="card-text" [ngClass]="invencao.categoria | categoria">Categoria: {{ invencao.categoria}}</p>

        <a [routerLink]="['/invencao',invencao.id]" class="btn btn-success">Detalhes</a>

     </div>
</div>