<div class="row text-start">
    <div class="col-md-4 mb-4">
        <label for="categoria">Buscar por Categoria da Invenção:</label>
        <input [(ngModel)]="categoria" type="text" name="categoria" class="form-control" placeholder="Buscar por categoria"/>
    </div>
</div>

<p>{{categoria}}</p>

<div *ngIf="invencoes.length > 0; else vazio">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let invencao of invencoesFiltradas">
            <app-card [invencao]="invencao"></app-card>
        </div>
    </div>
</div>

<ng-template #vazio>
    <p class="text-center text-muted mt-5">Nenhum filme encontrado</p>
</ng-template>